.event-form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  padding: 20px;
  outline: 0;

  &__date-time-group {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}
