@import "../../styles/utils";

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &__nav {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__nav-actions {
    display: flex;
    gap: 10px;
  }

  &__date-title {
    font-size: 35px;
  }
}
